<div class= "ja_top_message">
  あなたの旅をサポートするマッチング
</div>
<div	class= "select_login">
  <%= link_to (new_user_session_path) do %> 
    <%= image_tag 'dl-android.png', size: '185x50' ,class: "purchase-btn-icon" %>
  <% end %>
	<%= link_to (new_user_registration_path) do %> 
    <%= image_tag 'dl-android.png', size: '185x50' ,class: "purchase-btn-icon" %>
  <% end %>
	<%= link_to (zh_language_path) do %> 
    <%= image_tag 'dl-android.png', size: '185x50' ,class: "purchase-btn-icon" %>
  <% end %>

</div>